*{
  margin: 0px;
  padding: 0px;
}

ul li{
  list-style: none;
  display: block;
  line-height: 70px;
  padding-top: 10px;
}

ul li a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-left: 20px;
  color: blue;
}

nav{
  width: 200px;
  height: 800px;
  background-color: #ddd;
  display: block;
  /*position: fixed;*/
}

ul li a:hover{
  background-color: white;
  color: red;
}

.button{
  background-color: #EAEDDF;
  text-align: center;
  padding: 30px;
  float: right;
}

.logo{
  float: left;
  padding: 50px;
  text-align: center;
  background-color: #EAEDDF;
  width: 100px;

}

.picture{
  background-color: #ddd;
  height: 130px;
  width: 1538px;
  text-align: center;

}

img{
  width: 1000px;
  height: 120px;
}

button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: blue;
}

.box1{
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  color: black;
  background-color: #CCC7ED;
  height: 250px;
  width: 1000px;

}

.box2{
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  color: black;
  background-color: #CCC7ED;
  height: 250px;
  width: 1000px;

}

.image-div2 {
  position: exact;
  float: right;
  width: 400px;
  height: 220px;
  top: 90px;
  background-position: 60% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-div1 {
  position: relative;
  float: right;
  width: 400px;
  height: 220px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}













.
